 .vue-checkbtn {
     position: relative;
     display: inline-block;
     vertical-align: middle;
      margin-left: 15px;
     cursor: pointer;
     .vue-checkbtn-item {
         padding: 5px 10px;
         color: #666;
         background: #f0f0f0;
         border-radius: 10px;
         cursor: pointer;
         &.active {
             background: $text-primary;
             color: #fff;
         }
     }
 }
 
 .vue-checkbtn-group {
     position: relative;
     display: inline-block;
     margin-left: 15px;
     vertical-align: middle;
     cursor: pointer;
     .vue-checkbtn-item {
         display: inline-block;
         vertical-align: middle;
         padding: 5px 10px;
         color: #666;
         background: #f0f0f0;
         border-radius: 10px;
         cursor: pointer;
         &+.vue-checkbtn-item{
             margin-left: 15px;
         }
         &.active {
             background: $text-primary;
             color: #fff;
         }
     }
 }
 