/*vue-radiokbox*/

.vue-radiobox {
    display: inline-block;
    vertical-align: middle;

    .vue-radiobox-item {
        font-size: 15px;
		color:#111;
        cursor: pointer;
		>*{
			//vertical-align: middle;
		}
        &:before {
			margin-right: 5px;
            font-size: 24px;
            content: '\e672';
            color: #999;
			vertical-align: middle;
        }
        &.active {
            &:before {
				margin-right: 5px;
                font-size: 24px;
                content: '\e600';
                color: $text-primary;
				vertical-align: middle;
            }
        }
		&.disabled {
			&:before {
				color: $text-disabled;
				vertical-align: middle;
			}
			
			color: $text-disabled;
			cursor:no-drop;
		}

        & + .vue-radiobox-item {
            margin-left: 10px;
        }
    }
}
