/*滑块组件*/

.vue-radiobtn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.vue-radiobtn-item {
    float: left;
    padding: 10px 15px;
    color: #666;
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    &.vue-radiobtn-item {
        margin-left: 10px;
    }
    &.active {
        background: $text-primary;
        color: #fff;
    }
}