/*公共scss*/

/*一键分享*/
.one-share {
  position: fixed;
  top: 50%;
  left: 20px;
  z-index: 9999;
  margin-top: -130px;
  height: 260px;
}

.one-share-ttl {
  height: 17px;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: $text-primary;
}

.one-share-item {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.one-share-qrcode {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 999999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(#333, 0.8);

  &.active {
    display: flex;
  }
  canvas{
      width: 256px;
      height: 256px;
      box-shadow: 2px 2px 5px #333,2px 2px 5px #333;
  }
}



@media (max-width: 767px) {
  .product-list-ttl,
  .contact-ttl {
    margin-top: 50px;
    .zm {
      text-align: center;
      width: 100%;
      span:nth-child(1) {
     
        height: 26px;
        font-family: Roboto-Regular;
        font-size: 28px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #666666;
      }
      span:nth-child(2) {
        font-family: Roboto-Regular;
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #076ce0;
      }
    }
    .ttl {
      margin-top: 20px;
      text-align: center;
      color: #666;
      font-family: MicrosoftYaHei;
      font-size: 25px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
    }
  }
 
}