/*index*/

/*页头 -2019-3-25*/

body {
  padding-top: 91px;
}

.index-head {
  /*导航条*/
  .navbar.navbar-default {
    padding: 20px 0;
    background: #fff;
    border: none;
    box-shadow: -2px 2px 5px #ddd;
    margin-bottom: 0;
  }
  .navbar-header {
    .navbar-brand {
      padding: 0;
      /*logo*/
      img {
        // height: 52px;
      }
    }
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $text-primary;
  }

  .navbar-default .navbar-nav li > a {
    color: $text-primary;
  }

  .collapse.navbar-collapse {
    /*navbar*/
    .nav.navbar-nav,
    .nav {
      li {
        width: 120px;

        line-height: 52px;
        //margin-right: 24px;
        text-align: center;
        color: $text-primary;
        transition: none;

        > a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 18px;
          text-align: center;
          color: $text-primary;
          font-weight: normal;
          transition: none;
        }

        // active
        &.active {
          > a {
            color: #fff;
            background: $text-primary;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

/*
轮播图*/
.index-cont-swiper {
  box-shadow: 1px 0 2px #ddd;
  .carousel-inner {
    max-height: 450px;
    .item {
      img {
        width: 100%;
        height: auto;
        max-height: 450px;
        min-height: 150px;
      }
    }
  }
  .carousel-control {
    .glyphicon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 24px;
      margin-top: -12px;
    }
  }
  .carousel-indicators {
    li + li {
      margin-left: 5px;
    }
    li.active {
      background: $text-primary;
      border: 1px solid $text-primary;
    }
  }
}

/*标题的公共css*/
.index-cont {
  .zm {
    margin-top: 80px;
    text-align: center;
    span {
      font-family: Roboto-Regular;
      font-size: 36px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #666666;
    }
    span:nth-child(1) {
    }

    span:nth-child(2) {
      font-family: Roboto-Regular;
      font-size: 36px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #076ce0;
    }
  }

  .ttl {
    margin-top: 40px;
    text-align: center;
    color: #666;
    font-size: 30px;
  }
}

/*企业介绍*/
.index-cont-jieshao {
  .zm {
    text-align: center;
    width: 100%;
  }

  .cent {
    position: relative;
    margin-top: 60px;
    text-align: center;

    /*旋转图*/
    img {
      display: inline-block;
      float: none;
      width: 420px;
      height: 420px;
      transition: 2s;
      &:hover {
        transform: rotate(720deg);
      }
    }

    h3 {
      width: 96px;
      height: 23px;
      margin-bottom: 20px;
      font-family: MicrosoftYaHei;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #333333;
    }

    ._positon {
      position: absolute;

      a {
        p {
          color: #999;
        }
      }
    }

    /*企业理念 */
    ._top_l {
      top: 0px;
      left: 0;
      width: 320px;
      height: 73px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;

      h3 {
        width: 100%;
        text-align: right;
      }
    }

    /*企业理念 */
    ._top_r {
      top: 0px;
      right: 0;
      width: 306px;
      height: 73px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;

      h3 {
        width: 100%;
        text-align: right;
      }
    }
    /*企业愿景 */
    ._bottom_l {
      bottom: 80px;
      left: 0;
      width: 306px;
      height: 73px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;

      h3 {
        width: 100%;
        text-align: left;
      }
    }

    /*企业价值 */
    ._bottom_r {
      bottom: 80px;
      right: 0;
      width: 306px;
      height: 73px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;

      h3 {
        width: 100%;
        text-align: right;
      }
    }
  }
}

/*产品介绍*/
.index-cont-prod {
  margin-top: 80px;
  width: 100%;
  min-height: 800px;
  background: url(../../static/images/prod-bg.jpg);

  .zm {
    span:nth-child(1) {
      color: #fff;
    }
  }
  .ttl {
    color: #fff;
  }

  .box {
    width: 1200px;
    margin-top: 50px;
    //background: transparent;
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // justify-items: center;
     text-align: center;

    .box-item {
      // float: left;
      display: inline-block;
      width: 230px;
      transition: 1s;
      vertical-align: top;

      & + .box-item {
        margin-left: 13px;
      }
      .box-item-ttl {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 4px;
        color: #333;
        font-size: 17px;
        box-shadow: 2px 0 5px #ddd;
        transition: transform .8s;

        > a {
           display: block;
          color: #333;
          &:hover {
            color: $text-primary;
          }
        }
        &:hover {
          color: $text-primary;
           transform:  translateX(-15px);
        }
      }
      .box-item-imgs {
        width: 230px;
        height: 344px;
        margin-bottom: 46px;
        background: #fff;
        text-align: center;
        transition: 1s;

        &:hover {
          transform: translate(-10px, -10px);
          box-shadow: 2px 2px 5px #ddd;
        }

        img {
          display: inline-block;
          margin-top: 82px;
          max-width: 100%;
          height: 198px;
        }
      }

      .box-item-imgs:nth-child(1) {
        img {
          height: 198px;
          width: 100%;
        }
      }

      .box-item-imgs:nth-child(2) {
        margin-top: 56px;
        img {
          height: 239px;
          width: 185;
        }
      }

      .box-item-imgs:nth-child(3) {
        margin-top: 57px;
        img {
          height: 239px;
          width: 100%;
        }
      }
    }

    /*item-4*/
    .box-item:nth-child(4) {
      // float: left;
      width: 450px;
      box-sizing: border-box;

      .box-item-imgs:nth-child(1) {
        display: block;
        float: none;
        height: 198px;
        width: 450px;
        padding-top: 0;
        margin-bottom: 0;
        text-align: center;

        img {
          display: inline-block;

          height: 100%;
          max-width: 100%;
          margin-top: 0;
        }
      }

      .box-item-imgs:nth-child(2) {
        display: block;
        float: left;
        height: 230px;
        width: 230px;
        padding-top: 0;
        margin-top: 12px;
        text-align: center;

        img {
          display: inline-block;

          height: 100%;
          max-width: 100%;
          margin-top: 0;
        }
      }

      a.btn {
        display: inline-block;
        padding: 0;
        margin: 100px 0 0 32px;
        width: 180px;
        height: 50px;
        line-height: 50px;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px #333333;

        &:hover {
          color: $text-primary;
        }
      }
    }
  }
}

/*新闻资讯*/
.index-cont-news {
  margin-bottom: 50px;
  .zm {
    text-align: center;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
  .index-cont-news-cont {
    margin-top: 50px;
  }
  /*左边大图*/
  .thumbnail {
    border: none;
    width: 100%;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 320px;
      background-color: #786b62;
      transition: 0.8s;
      &:hover {
        transform: scale(1.05);
      }
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    p {
      line-height: 24px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999;
      display: -webkit-box;
      overflow: hidden;
      white-space: normal !important;
      text-overflow: ellipsis;
      word-wrap: break-word;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  /*右边媒体图*/
  .media {
    .media-object {
      width: 124px;
      height: 124px;
      background-color: #786b62;
      transition: 0.8s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .media-heading {
      margin-bottom: 0px;
      font-family: MicrosoftYaHei;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #666666;
      display: -webkit-box;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
       overflow: hiddenl;
      -webkit-box-orient: vertical;

      // @media (max-width: 767px) {
      //   max-width: 200px;
      // }
    }
    .media-body {
      width: 100%;
    }
    .media-body a {
      display: block;
      height: 135px;
      overflow: hidden;
    }
    .text-right {
      margin-bottom: 10px;
      padding-right: 10px;
      height: 11px;
      font-family: MicrosoftYaHei;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #666666;
      font-style: italic;
    }
    p {
      padding: 0 5px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;
      display: -webkit-box;
      overflow: hidden;
      white-space: normal !important;
      text-overflow: ellipsis;
      word-wrap: break-word;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

/*scroll top 置顶*/
.scroll-top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 999;
  display: none;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;

  background: rgba(#333, 0.8);
  cursor: pointer;

  span {
    font-size: 36px;
    color: #fff;
  }
  /***小屏 width 0-576 ***/
  @media (max-width: 576px) {
    right: 20px;
  }
}

/*页脚*/
.index-footer {
  min-height: 300px;
  background-color: #464646;
}

.index-footer .row {
  position: relative;
}

.index-footer-cont {
  position: relative;
  // max-width: 634px;
  margin: 0 auto;
  padding-top: 40px;
}

.index-footer-nav {
  li {
    display: inline-block;
    float: none;
    height: 40px;
    line-height: 40px;
    & + li {
      margin-left: 48px;
    }

    a {
      display: block;
      width: 80px;

      height: 17px;
      text-decoration: none;
      font-family: MicrosoftYaHei;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #ffffff;
      a:hover {
        color: #f8f8f8;
      }
    }
  }
}

.index-footer-link {
  margin-top: 40px;
  text-align: center;
  li {
    display: inline-block;
    float: none;
    // margin-bottom: 20px;

    & + li {
      margin-left: 20px;
    }

    img {
      max-width: 150px;

      height: 45px;
    }
  }
  li:nth-child(1) {
     width: 80px;
    height: 58px;
    line-height: 58px;
     text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
  }
}

.index-footer-addr {
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 634px;
  margin-left: auto;
  margin-right: auto;
  ._phone {
    color: #fff;
    &:hover {
      .glyphicon {
        transform: rotateY(180deg);
      }
    }
    .glyphicon {
      font-size: 29px;
      transition: 0.5s;
    }
    ._num {
      margin-left: 10px;
      font-family: MicrosoftYaHei;
      font-size: 38px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #ffffff;
    }

    @media (max-width: 767px) {
      text-align: center !important;
    }
  }

  ._addr {
    color: #fff;

    p {
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
    }
    @media (max-width: 767px) {
      padding-top: 30px;
      p {
        text-align: center !important;
      }
    }
  }
}

.index-footer-scancode {
  position: absolute;
  right: 0px;
  top: 56px;
  width: 200px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

/***小屏 width 0-767 ***/

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }

  .index-head {
    /*导航条*/
    .navbar.navbar-default {
      padding: 0;
      background: #fff;
      border: none;
      box-shadow: -2px 2px 5px #ddd;
    }

    .navbar-header {
      /*logo*/
      img {
        margin-top: 5px;
        margin-left: 5px;
        height: 38px !important;
      }

      .navbar-brand-xs {
        position: relative； img {

        }
        span {
          position: absolute;
          left: 45px;
          top: 15px;
          color: $text-primary;
        }
      }
    }

    /*导航条btn*/
    .navbar-default .navbar-toggle .icon-bar {
      background-color: $text-primary !important;
    }

    .collapse.navbar-collapse {
      /*navbar*/
      .nav.navbar-nav {
        li {
          padding: 0 !important;
          width: 100%;
          height: 40px;
          //margin-right: 24px;
          text-align: left;
          border-radius: 0 !important;

          > a {
            display: block;
            width: 100%;
            // padding-left: 10px;
            border-radius: 0 !important;
            font-size: 15px;
            text-align: left;
            color: $text-primary;
            font-weight: normal;
          }
        }
      }
    }

    .navbar-default .navbar-nav li > a {
      color: $text-primary;
      font-size: 15px;
    }
  }
  .carousel-indicators {
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
  /*内容页*/
  .index-cont {
    .zm {
      margin-top: 30px;
      text-align: center;
      width: 100%;

      span:nth-child(1),
      span:nth-child(2) {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
      }
      span:nth-child(1),
      span:nth-child(2) {
        font-size: 26px;
      }
    }
    .ttl {
      margin-top: 30px;
      font-size: 26px;
    }
  }
  /*企业介绍*/
  .index-cont-jieshao {
    margin-top: 0px;

    .cent {
      position: relative;
      margin-top: 30px;
      width: 100%;
      text-align: center;

      /*旋转图*/
      img {
        display: inline-block;
        float: none;
        width: 70%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
        transition: 2s;
        &:hover {
          transform: rotate(720deg);
        }
      }

      h3 {
        width: 96px;
        height: 23px;
        margin-bottom: 20px;
        font-family: MicrosoftYaHei;
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #333333;
      }

      ._positon {
        position: static !important;
        width: 100%;
        a p {
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      /*企业理念 */
      ._top_l {
        position: absolute;
        height: auto;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: center;
        }
      }

      /*企业核心 */
      ._top_r {
        position: absolute;
        height: auto;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: center;
        }
      }
      /*企业愿景 */
      ._bottom_l {
        position: absolute;
        height: auto;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: center;
        }
      }

      /*企业价值 */
      ._bottom_r {
        height: auto;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  /*产品介绍*/
  .index-cont-prod {
    margin-top: 30px;
    .zm {
      margin-top: 50px;
      span {
        font-size: 26px;
      }
    }

    .box {
      width: 100%;
      margin-top: 30px;
      padding: 0 10px;
      background: transparent;
      display: block;
      text-align: center;
      .box-item {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
        .box-item-imgs {
          display: inline-block;
          float: none;
          width: 200px;
          height: 300px;
          margin-bottom: 30px;
          background: #fff;
          text-align: center;
          -webkit-transition: 1s;
          transition: 1s;
          img {
            margin-top: 50px;
          }
        }
      }

      /*item-4*/
      .box-item:nth-child(4) {
        // float: left;
        width: 70%;
        box-sizing: border-box;

        .box-item-imgs:nth-child(1) {
          display: block;
          float: none;
          height: 198px;
          width: 100%;
          padding-top: 0;
          margin-bottom: 0;
          text-align: center;

          img {
            display: inline-block;
            float: none;
            width: 300px;
            height: 100%;
            max-width: 100%;
            margin-top: 0;
          }
        }

        .box-item-imgs:nth-child(2) {
          display: block;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          text-align: center;
          background: transparent;

          img {
            display: inline-block;
            float: none;
            width: 230px;
            height: 100%;
            max-width: 100%;
            margin-top: 0;
          }
        }

        a.btn {
          // display: inline-block;
          // padding: 0;
          margin: 10px 0 20px 32px;
          margin-left: 0;

          // width: 120px;
          // height: 50px;
          // line-height: 50px;
          // background-color: #ffffff;
          // border-radius: 4px;
          // border: solid 1px #333333;
        }
      }

      .box-item .box-item-imgs:nth-child(2) {
        margin-top: 20px;
      }
    }
  }

  /*新闻列表*/
  .index-cont-news {
    margin-top: 0;
    margin-bottom: 50px;
    .index-cont-news-cont {
      margin-top: 30px 
  }
   
    .zm {
      text-align: center;
      width: 100%;
    }

    .ttl {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #666;
    }
    a {
      text-decoration: none;
    }
    /*左边大图*/
    .thumbnail {
      border: none;
      width: 100%;

      img {
        width: 100%;
        max-width: 100%;
        max-height: 320px;
        background-color: #786b62;
        transition: 0.8s;
        &:hover {
          transform: scale(1.05);
        }
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
      p {
        line-height: 24px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999;
      }
    }

    /*右边媒体图*/
    .media {
      .media-object {
        width: 100px;
        height: 105px;
        background-color: #786b62;
        transition: 0.8s;
        &:hover {
          transform: scale(1.1);
        }
      }
      .media-heading {
        max-width: 350px;
        margin-bottom: 0px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #666666;
      }
      .media-body a {
        display: block;
        height: 105px;
        overflow: hidden;
      }
      .text-right {
        margin-bottom: 10px;
        padding-right: 10px;

        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #666666;
        font-style: italic;
      }
      p {
        padding: 0 5px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;
      }
    }
  }
  

  /*页脚*/
  .index-footer {
    min-height: 250px;
  }

  .index-footer-cont {
    padding-top: 40px;
  }

  .index-footer-nav {
    li {
      display: inline-block;
      float: none;
      height: 30px;

      line-height: 30px;
      margin-bottom: 10px;

      & + li {
        margin-left: 20px;
      }

      a {
        display: block;
        width: 80px;

        height: 17px;
        text-decoration: none;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
        a:hover {
          color: #f8f8f8;
        }
      }
    }
  }

  .index-footer-link {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;

    li {
      display: inline-block;
      float: none;
      margin-bottom: 20px;
      

      & + li {
        margin-left: 10px;
      }

      img {
        width: 80px;
        height: 40px;
      }
    }
    li:nth-child(1) {
      width: 80px;
      height: 50px;
      line-height: 50px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }
  .index-footer-addr {
    margin-bottom: 20px;
    margin-top: 15px;
    ._phone {
      color: #fff;
      &:hover {
        .glyphicon {
          transform: rotateY(180deg);
        }
      }
      .glyphicon {
        font-size: 20px;
        transition: 0.5s;
      }
      ._num {
        margin-left: 10px;
        font-family: MicrosoftYaHei;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
      }

      @media (max-width: 767px) {
        text-align: center !important;
      }
    }

    ._addr {
      color: #fff;

      p {
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
      }
      @media (max-width: 767px) {
        padding-top: 20px;
        p {
          text-align: center !important;
        }
      }
    }
  }

  .index-footer-scancode {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    img {
      display: inline-block;
      float: none;
      width: 120px;
      height: 120px;
    }
  }
}

/***小屏 width 0-414 ***/

@media (max-width: 576px) {
  /*产品介绍*/
  .index-cont-prod {
    .box {
      width: 100%;
      margin-top: 40px;
      background: transparent;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      justify-items: center;
      .box-item {
        // float: left;
        width: 205px;
        transition: 1s;
        //margin-left: 13px ;
        & + .box-item {
          margin-left: 0 !important;
        }
      }

      /*item-4*/
      .box-item:nth-child(4) {
        a.btn {
          // display: inline-block;
          // padding: 0;
          margin: 10px 0 30px 32px;
          margin-left: 0;
          // width: 180px;
          // height: 50px;
          // line-height: 50px;
          // background-color: #ffffff;
          // border-radius: 4px;
          // border: solid 1px #333333;
        }
      }
    }
  }
  .index-footer-link {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;

    li {
      img {
        width: 70px;
        height: 40px;
      }
    }
    li:nth-child(1) {
      width: 80px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
    }
  }
  .index-footer-scancode {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    // img {
    //   width: 40%;
    //   height: auto;
    // }
  }
}

/***中屏 width 768-991***/
@media (min-width: 768px) and(max-width:991px) {
  body {
    padding-top: 81px;
  }
  .index-head {
    /*导航条*/
    .navbar.navbar-default {
      padding: 20px 0 10px;
      background: #fff;
      border: none;
      box-shadow: -2px 2px 5px #ddd;
    }
    .navbar-header {
      .navbar-brand {
        padding: 0;
      }
      /*logo*/
      img {
        margin-left: 10px;
        height: auto;
        width: 290px;
      }
    }

    .collapse.navbar-collapse {
      /*navbar*/
      .nav.navbar-nav {
        li {
          padding: 0 !important;
          width: 90px;
          height: 40px;

          //margin-right: 24px;
          text-align: center;

          a {
            display: block;
            width: 100%;

            line-height: 40px;
            padding: 0 !important;
            font-size: 15px;
            text-align: center;
            color: $text-primary;
            font-weight: normal;
          }

          // active
          &.active {
            a {
              color: #fff;
              background: $text-primary;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  /*内容页*/
  /*企业介绍*/
  .index-cont-jieshao {

    .cent {
      position: relative;
      margin-top: 120px;
      text-align: center;

      /*旋转图*/
      img {
        display: inline-block;
        float: none;
        width: 320px;
        height: 320px;
        transition: 2s;
        &:hover {
          transform: rotate(720deg);
        }
      }

      h3 {
        width: 96px;
        height: 23px;
        margin-bottom: 20px;
        font-family: MicrosoftYaHei;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #333333;
      }

      ._positon {
        position: absolute;
      }

      /*企业理念 */
      ._top_l {
        position: absolute;
        top: 0px;
        left: 0;
        width: 200px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: right;
        }
      }

      /*企业核心 */
      ._top_r {
        position: absolute;
        top: 0px;
        right: 0;
        width: 200px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: right;
        }
      }
      /*企业愿景 */
      ._bottom_l {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 200px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: left;
        }
      }

      /*企业价值 */
      ._bottom_r {
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 200px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: right;
        }
      }
    }
  }

  /*产品介绍*/
  .index-cont-prod {
    .box {
      width: 100%;
      margin-top: 59px;
      background: transparent;
      display: block;
      text-align: center;
      // flex-flow: row wrap;
      // justify-content: center;
      // justify-items: center;
      .box-item {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
    }
  }

  /*页脚*/
  .index-footer-scancode {
    position: absolute;
    right: 10px;
    top: 116px;
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 991px) and(max-width:1199px) {
  .index-head {
    .navbar-brand {
      padding: 0;
    }
    /*logo*/
    img {
      height: auto;
      width: 350px;
    }

    /*navbar*/
    .nav.navbar-nav {
      li {
        width: 110px;
        height: 45px;
        line-height: 45px;
        //margin-right: 24px;
        text-align: center;

        a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 16px;
          text-align: center;
          color: $text-primary;
          font-weight: normal;
        }

        // active
        &.active {
          a {
            color: #fff;
            background: $text-primary;
            border-radius: 4px;
          }
        }
      }
    }
  }

  /*内容页*/
  /*企业介绍*/
  .index-cont-jieshao {


    .cent {
      position: relative;
      margin-top: 120px;
      text-align: center;

      /*旋转图*/
      img {
        display: inline-block;
        float: none;
        width: 400px;
        height: 400px;
        transition: 2s;
        &:hover {
          transform: rotate(720deg);
        }
      }

      h3 {
        width: 96px;
        height: 23px;
        margin-bottom: 20px;
        font-family: MicrosoftYaHei;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #333333;
      }

      ._positon {
        position: absolute;
      }

      /*企业理念 */
      ._top_l {
        position: absolute;
        top: 0px;
        left: 0;
        width: 280px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: right;
        }
      }

      /*企业核心 */
      ._top_r {
        position: absolute;
        top: 0px;
        right: 0;
        width: 280px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: right;
        }
      }
      /*企业愿景 */
      ._bottom_l {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 280px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: left;
        }
      }

      /*企业价值 */
      ._bottom_r {
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 280px;
        height: 73px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;

        h3 {
          width: 100%;
          text-align: right;
        }
      }
    }
  }

  /*产品介绍*/
  .index-cont-prod {
    .box {
      width: 100%;
      margin-top: 59px;
      background: transparent;
      display: block;
      text-align: center;
      // flex-flow: row wrap;
      // justify-content: center;
      // justify-items: center;
      .box-item {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
    }
  }

  /*页脚*/
  .index-footer-scancode {
    position: absolute;
    right: 0;
    top: 82px;
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media (min-width: 1200px) {
  .navbar-header {
    .navbar-brand {
      img {
        max-height: 52px;
        width: 402px;
      }
    }
  }
}

.-ms- {
  .index-cont-news .media .media-heading {
    max-width: 270px;
    margin-bottom: 0px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #666666;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    -webkit-line-clamp: none;
    -webkit-box-orient: none;
  }
  .index-cont-news .media p {
    padding: 0 5px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    line-height: 17px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #999999;
  }
  @media (max-width: 767px) {
    .index-cont-news .media p {
      padding: 0 5px;
      font-family: MicrosoftYaHei;
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;
    }
  }

  @media (min-width: 768px) {
    .index-cont-news .media p {
      display: block;
      height: 86px;
      padding: 0 5px;
      font-family: MicrosoftYaHei;
      font-size: 17px;
      line-height: 22px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #999999;
    }
  }
}
