/*新闻详情*/

.news-dtl {
}

.news-dtl-ttl{
  h3{
    margin: 0;
    font-family: MicrosoftYaHei;
    font-size: 28px;
    line-height: 42px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333;
  }
}

.news-dtl-content{
  margin-top: 30px;
  margin-bottom: 80px;
   min-height: 400px;
  p{
  font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333
  }
}

  /***小屏 width 0-767 ***/
  @media (max-width:767px) {
    .news-dtl-ttl{
      h3{
        margin: 0;
        font-family: MicrosoftYaHei;
        font-size: 24px;
        line-height: 30px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #333333;
      }
    }
    .news-dtl-content {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
