{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
		"stage-2"
  ],
  "plugins": ["external-helpers",
	[
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
	]
}

