<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/static/css/cstFonts/iconfont.css" />
	<!--vue component css-->
	<link rel="stylesheet" type="text/css" href="/static/css/vue-index.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
	<style>
		
	</style>

</head>

<body class="test">
	<div id="app">
		<el-radio v-model="radio" label="1">备选项</el-radio>
  <el-radio v-model="radio" label="2">备选项</el-radio>
		</div>
	<script data-parent="umd" data-umd="index" defer src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
	<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</script>
	
	<script type="text/javascript">
		 new Vue({
			 data:{},
			 el:"#app"
		 })
	</script>
</body>

</html>