

/*全局*/
$font-family:"微软雅黑","宋体","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-color:#333 ;
$font-size:14px ;
$body-bg:#fff ;
$text-default: #000; // 默认
$text-primary:#076ce0; // 选中
$text-info : #5bc0de; // 信息
$text-success: #5cb85c; // 警告 
$text-warning: #f0ad4e; // 警告   
$text-danger : #f05a00; // 危险 








